Repository cucumber/cucumber-jvm, pull requests merged in 2019-08, with the labels that each got.

#1734 [Core] Fix UnusedStepSummaryPrinter and consistently handle plugin events
  core/src/main/java/io/cucumber/core/plugin/DefaultSummaryPrinter.java
  core/src/main/java/io/cucumber/core/plugin/RerunFormatter.java
  core/src/main/java/io/cucumber/core/plugin/TimelineFormatter.java
  core/src/main/java/io/cucumber/core/plugin/UndefinedStepsTracker.java
  core/src/main/java/io/cucumber/core/plugin/UnusedStepsSummaryPrinter.java
  core/src/main/java/io/cucumber/core/plugin/UsageFormatter.java
  core/src/test/java/io/cucumber/core/plugin/UnusedStepsSummaryPrinterTest.java
Labels: Bug, Core

#1737 Hint at how to adopt io.cucumber package changes
  CHANGELOG.md
Labels: Docs/Examples

#1613 [Spring] Add examples to the documentation
  spring/README.md
Labels: Spring
